cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
functools32==3.2.3.post2
matplotlib==2.0.2
networkx==2.2
numpy==1.15.4
Pillow==8.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
scikit-image==0.14.1
scipy==1.2.0
six==1.12.0
subprocess32==3.5.3
toolz==0.9.0
torch==0.4.0
torchvision==0.2.1
